@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
   --dark-900: #242424;
   --dark-800: #262626;
   --dark-700: #282828;
   --dark-600: #2b2b2b;
   --dark-500: #2d2d2d;
   --dark-400: #373737;
   --dark-300: #424242;
   --dark-200: #4d4d4d;
   --dark-100: #575757;
   --dark-50: #616161;

   --dark-green: #14532d;
   --accent-green: #22c55e;

   --accent-red: #ef4444;

   --size-base: 4;
   --size-2xs: calc(var(--size-base) * 1px);
   --size-xs: calc(var(--size-base) * 2px);
   --size-sm: calc(var(--size-base) * 4px);
   --size-md: calc(var(--size-base) * 5px);
   --size-lg: calc(var(--size-base) * 6px);
   --size-xl: calc(var(--size-base) * 7px);
   --size-2xl: calc(var(--size-base) * 8px);
   --size-3xl: calc(var(--size-base) * 9px);
   --size-4xl: calc(var(--size-base) * 10px);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*,
body {
   font-family: Inter, sans-serif;
}

body {
   width: 100vw;
   overflow-x: hidden;
   background-color: var(--dark-900);
}

button {
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.spacer-2xs {
   height: var(--size-2xs);
   width: var(--size-2xs);
}

.spacer-xs {
   height: var(--size-xs);
   width: var(--size-xs);
}

.spacer-sm {
   height: var(--size-sm);
   width: var(--size-sm);
}

.spacer-md {
   height: var(--size-md);
   width: var(--size-md);
}

.spacer-lg {
   height: var(--size-lg);
   width: var(--size-lg);
}

.spacer-xl {
   height: var(--size-xl);
   width: var(--size-xl);
}

.spacer-2xl {
   height: var(--size-2xl);
   width: var(--size-2xl);
}

.spacer-3xl {
   height: var(--size-3xl);
   width: var(--size-3xl);
}

.spacer-4xl {
   height: var(--size-4xl);
   width: var(--size-4xl);
}

.form__label {
   display: block;
   font-size: 14px;
   color: var(--dark-50);
}

.form__input {
   width: 100%;
   color: #fff;
   height: var(--size-2xl);
   padding: 0 var(--size-xs);
   background: var(--dark-400);
   border-radius: var(--size-2xs);
   border: 1px solid var(--dark-200);
}

.form__button {
   border: none;
   height: var(--size-2xl);
   border-radius: var(--size-2xs);
}

.form__button.wide {
   width: 100%;
   display: flex;
}

.form__button.success {
   font-weight: 500;
   color: var(--dark-green);
   background: var(--accent-green);
}

.form__error {
   font-size: 14px;
   font-weight: 300;
   color: var(--accent-red);
}

.heading2 {
   color: #fff;
   font-weight: 500;
   letter-spacing: 0.5px;
}

.rotate {
   animation: rotate 2s infinite linear;
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(359deg);
   }
}

nav {
   width: 720px;
   height: 60px;
   display: flex;
   border-radius: 30px;
   align-items: center;
   padding: 0 var(--size-md);
   margin: var(--size-md) auto;
   background: var(--dark-400);
}

nav a {
   color: #fff;
   text-decoration: none;
}
