@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
   --dark-900: #242424;
   --dark-800: #262626;
   --dark-700: #282828;
   --dark-600: #2b2b2b;
   --dark-500: #2d2d2d;
   --dark-400: #373737;
   --dark-300: #424242;
   --dark-200: #4d4d4d;
   --dark-100: #575757;
   --dark-50: #616161;

   --dark-green: #14532d;
   --accent-green: #22c55e;

   --accent-red: #ef4444;

   --size-base: 4;
   --size-3xs: 2px;
   --size-2xs: calc(var(--size-base) * 1px);
   --size-xs: calc(var(--size-base) * 2px);
   --size-sm: calc(var(--size-base) * 4px);
   --size-md: calc(var(--size-base) * 5px);
   --size-lg: calc(var(--size-base) * 6px);
   --size-xl: calc(var(--size-base) * 7px);
   --size-2xl: calc(var(--size-base) * 8px);
   --size-3xl: calc(var(--size-base) * 9px);
   --size-4xl: calc(var(--size-base) * 10px);
   --size-5xl: calc(var(--size-base) * 12px);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*,
body {
   font-family: Inter, sans-serif;
}

body {
   width: 100vw;
   overflow-x: hidden;
   background-color: var(--dark-900);
}

.page__content {
   padding: 0 40px;
   margin-bottom: 40px;
}

button {
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}

.spacer-3xs {
   height: var(--size-3xs);
   width: var(--size-3xs);
}

.spacer-2xs {
   height: var(--size-2xs);
   width: var(--size-2xs);
}

.spacer-xs {
   height: var(--size-xs);
   width: var(--size-xs);
}

.spacer-sm {
   height: var(--size-sm);
   width: var(--size-sm);
}

.spacer-md {
   height: var(--size-md);
   width: var(--size-md);
}

.spacer-lg {
   height: var(--size-lg);
   width: var(--size-lg);
}

.spacer-xl {
   height: var(--size-xl);
   width: var(--size-xl);
}

.spacer-2xl {
   height: var(--size-2xl);
   width: var(--size-2xl);
}

.spacer-3xl {
   height: var(--size-3xl);
   width: var(--size-3xl);
}

.spacer-4xl {
   height: var(--size-4xl);
   width: var(--size-4xl);
}

.form__label {
   display: block;
   font-size: 14px;
   color: var(--dark-50);
}

.form__input {
   width: 100%;
   color: #fff;
   height: var(--size-2xl);
   padding: 0 var(--size-xs);
   background: var(--dark-400);
   border-radius: var(--size-2xs);
   border: 1px solid var(--dark-400);
}

.form__input.ghost {
   background-color: transparent;
}

.form__button {
   border: none;
   height: var(--size-2xl);
   border-radius: var(--size-2xs);
}

.form__button.wide {
   width: 100%;
   display: flex;
}

.form__button.success {
   font-weight: 500;
   color: var(--dark-green);
   background: var(--accent-green);
}

.form__error {
   font-size: 14px;
   font-weight: 300;
   color: var(--accent-red);
}

.heading2 {
   color: #fff;
   font-weight: 500;
   letter-spacing: 0.5px;
}

.rotate {
   animation: rotate 2s infinite linear;
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(359deg);
   }
}

nav {
   height: 60px;
   display: flex;
   max-width: 720px;
   border-radius: 30px;
   align-items: center;
   width: calc(100vw - 40px);
   padding: 0 var(--size-md);
   margin: var(--size-xs) auto;
   background: var(--dark-400);
}

nav a {
   color: #fff;
   text-decoration: none;
}

.rdg {
   width: 100%;
   block-size: unset;
   border: 1px solid var(--dark-500);
}

.rdg-cell {
   padding: 0 8px;
   font-size: 13px;
   border-block-end: unset;
   border-inline-end: unset;
   outline: 1px solid var(--dark-500);
}

.rdg-cell[aria-selected='true'] {
   outline-color: #f2e55b;
}

.text-right {
   text-align: right;
}

.btn {
   color: #fff;
   height: var(--size-2xl);
   padding: 0 var(--size-sm);
   border-radius: var(--size-3xs);
}

.btn-outline {
   border: none;
   background: transparent;
   border: 1px solid var(--dark-400);
}

.btn-outline:hover {
   background: var(--dark-400);
}

.btn-default {
   border: none;
   background: var(--dark-400);
   border: 1px solid var(--dark-300);
}

.btn-default:hover {
   background: var(--dark-300);
}

.btn.btn-ghost {
   border: none;
   background: transparent;
}

.btn.btn-ghost:hover {
   background: var(--dark-400);
}

.btn.btn-success {
   border: none;
   color: #fff;
   background: var(--accent-green);
}

.btn.btn-success:hover {
   background: #25b65a;
}

.btn-icon {
   padding: 0;
   width: var(--size-2xl);
}

.btn-combo {
   padding: 0 10px;
}

#option__sort {
   position: relative;
}

#option__sort__panel {
   z-index: 9999;
   max-width: 380px;
   position: absolute;
   width: calc(100vw - 40px);
   background: var(--dark-500);
   border-radius: var(--size-2xs);
   top: calc(100% + var(--size-xs));
   border: 1px solid var(--dark-300);
}

#option__sort__panel--empty {
   display: flex;
   flex-direction: column;
   padding: var(--size-xs);
}

#option__sort__panel--empty span:first-child {
   font-weight: 500;
   color: var(--dark-50);
}
#option__sort__panel--empty span:last-child {
   font-weight: 500;
   font-size: 13px;
   color: var(--dark-100);
}

#option__sort__panel footer {
   display: flex;
   align-items: center;
   height: var(--size-5xl);
   padding: 0 var(--size-xs);
   justify-content: space-between;
   border-top: 1px solid var(--dark-300);
}

#option__sort__panel ul li {
   color: #fff;
   display: flex;
   font-size: 14px;
   list-style: none;
   align-items: center;
   padding: var(--size-xs);
   justify-content: space-between;
}

#option__sort__panel ul li aside > span {
   display: flex;
   align-items: center;
   color: var(--dark-50);
}

#option__sort__panel ul li aside {
   display: flex;
   align-items: center;
}

#option__sort__panel ul li aside span span {
   cursor: pointer;
}

select {
   width: 100%;
   color: #fff;
   height: var(--size-2xl);
   padding: 0 var(--size-xs);
   background: var(--dark-400);
   border-radius: var(--size-2xs);
   border: 1px solid var(--dark-400);
}

.rs-container {
   width: 240px;
}

.rs-container .rs__control {
   height: var(--size-2xl);
   min-height: var(--size-2xl);
   background: var(--dark-400);
   border-radius: var(--size-3xs);
   border: 1px solid var(--dark-300);
}

.rs-container .rs__control:hover {
   background: var(--dark-300);
   border-color: var(--dark-300);
}

.rs-container .rs__indicator {
   padding: 0;
   display: flex;
   align-items: center;
   width: var(--size-2xl);
   height: var(--size-2xl);
   justify-content: center;
}

.rs-container .rs__indicators {
   height: inherit;
}

.rs-container .rs__placeholder {
   font-size: 14px;
}

.rs-container .rs__single-value {
   color: #fff;
   font-size: 14px;
}

.rs-container .rs__menu {
   background: var(--dark-400);
}

.rs-container .rs__option {
   color: #fff;
   font-size: 14px;
}

.rs-container .rs__option.rs__option--is-focused {
   background: var(--dark-300);
}

.rs-container .rs__option.rs__option--is-selected {
   background-color: #2684ff;
}

.switch {
   width: 32px;
   height: 18px;
   position: relative;
   display: inline-flex;
   border-radius: 16px;
   background: var(--dark-400);
}

.switch.active {
   background: var(--accent-green);
}

.switch:after {
   top: 3px;
   left: 3px;
   width: 12px;
   content: '';
   height: 12px;
   position: absolute;
   border-radius: 12px;
   background: var(--dark-100);
}

.h-stack {
   display: flex;
   gap: var(--size-xs);
}

.switch.active:after {
   left: 17px;
   background: var(--dark-green);
}

.search_loader {
   top: 8px;
   right: 8px;
   position: absolute;
}

input[type='search']::-ms-clear {
   display: none;
   width: 0;
   height: 0;
}
input[type='search']::-ms-reveal {
   display: none;
   width: 0;
   height: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
   display: none;
}

.ReactModal__Overlay {
   display: flex;
   align-items: center;
   justify-content: center;
   backdrop-filter: blur(12px);
   background-color: rgba(0, 0, 0, 0.4) !important;
}

.ReactModal__Content {
   width: 100%;
   height: 100%;
   display: flex;
   max-width: 420px;
   max-height: 580px;
   padding: 0 !important;
   flex-direction: column;
   position: unset !important;
   background: var(--dark-900) !important;
   border: 1px solid var(--dark-400) !important;
}

.modal__header {
   height: 48px;
   display: flex;
   align-items: center;
   padding: 0 8px 0 16px;
   justify-content: space-between;
   border-bottom: 1px solid var(--dark-400);
}

.modal__header h3 {
   color: #fff;
   font-weight: 300;
}

.modal__footer {
   height: 60px;
   display: flex;
   margin-top: auto;
   gap: var(--size-sm);
   align-items: center;
   justify-content: center;
   border-top: 1px solid var(--dark-400);
}

.modal__content {
   overflow-y: auto;
   padding: var(--size-sm);
   height: calc(100% - 108px);
}

.form__radio {
   color: #fff;
   display: flex;
   align-items: center;
   gap: var(--size-xs);
}

@media screen and (max-width: 567px) {
   .page__content {
      padding: 0 20px;
   }

   .ReactModal__Content {
      max-height: 100%;
      border-radius: 0 !important;
   }
}
