.container {
   display: flex;
   padding-top: 80px;
   justify-content: center;
}

.card {
   width: 320px;
   padding: var(--size-4xl);
   background: var(--dark-700);
   border-radius: var(--size-xs);
}
