@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*,
body {
   font-family: 'Inter', sans-serif !important;
}

td,
th {
   height: 36px;
   white-space: nowrap;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
}

th {
   height: 28px;
   font-size: 13px !important;
}

.text-right {
   text-align: right !important;
}
