@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

* {
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   outline: 1px solid #000;
}
body {
   color: #fff;
   background: #1f2937;
}
